<h1>{{boardgame.name}}</h1>

<p>{{boardgame.description}}</p>

<ul class="specs">
    <li>
        <span>Genral information</span>
        <dl>
            <dt>Designer</dt>
            <dd>{{boardgame.designer}}</dd>
            <dt>Publisher</dt>
            <dd>{{boardgame.publisher}}</dd>
            <dt>Published in</dt>
            <dd>{{boardgame.year_published}}</dd>
        </dl>
    </li>
    <li>
        <span>Type</span>
        <dl>
            <dt>Subdomian</dt>
            <dd>{{boardgame.subdomain}}</dd>
            <dt>Category</dt>
            <dd>{{boardgame.category}}</dd>
        </dl>
    </li>
    <li>
        <span>Game information</span>
        <dl>
            <dt>Number of players</dt>
            <dd>{{boardgame.number_of_players}}</dd>
            <dt>Playing time</dt>
            <dd>{{boardgame.playing_time}}</dd>
            <dt>Suggested age</dt>
            <dd>{{boardgame.suggested_age}}</dd>
        </dl>
    </li>
</ul>
